name: Build JAR

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Clone tingshu
        run: git clone https://github.com/eprendre/tingshu.git /tmp/tingshu
        
      - name: Build JAR
        run: |
          cd /tmp/tingshu/CustomSources
          rm -rf src/main/kotlin/com/github/eprendre/sources_by_eprendre
          mkdir -p src/main/kotlin/com/github/gncysy/tingshu
          cp $GITHUB_WORKSPACE/src/main/kotlin/com/github/gncysy/tingshu/*.kt src/main/kotlin/com/github/gncysy/tingshu/
          echo "MY_SOURCES_PACKAGE=sources_by_gncysy" > gradle.properties
          chmod +x gradlew
          ./gradlew jar
          cp build/libs/sources_by_gncysy.jar $GITHUB_WORKSPACE/
          
      - name: Commit JAR
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add sources_by_gncysy.jar
          git commit -m "Build JAR" || exit 0
          git push
          java-version: '18'
          distribution: 'temurin'
          
      - name: Build JAR
        run: |
          cd /tmp/tingshu/CustomSources
          rm -rf src/main/kotlin/com/github/eprendre/sources_by_eprendre
          mkdir -p src/main/kotlin/com/github/gncysy/tingshu
          cp $GITHUB_WORKSPACE/src/main/kotlin/com/github/gncysy/tingshu/* src/main/kotlin/com/github/gncysy/tingshu/
          echo "MY_SOURCES_PACKAGE=sources_by_gncysy" > gradle.properties
          chmod +x gradlew
          ./gradlew jar
          cp build/libs/sources_by_gncysy.jar $GITHUB_WORKSPACE/
          
      - name: Commit JAR
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add sources_by_gncysy.jar
          git commit -m "Build JAR" || exit 0
          git push
